* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;;
}

li {
  list-style: none;
}

button, 
input {
  background: none;
  border: 1px solid silver;
  padding: 10px;
  margin: 10px;
}

.toggle-theme {
  background: grey;
  color: white;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.base-class {
  padding: 10px;
  background: silver;
  border: 2px solid grey;
  color: black;
  margin-bottom: 20px;
}

.header {

}

.main {

}

.footer {

}